section {
    width: 650px;
    margin: 40px auto;
}

section h1 {
	text-transform: uppercase;
}

.icons {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.icons.aligned .world {
	float: right;
}

.icons.right {
    float: right;
}

.math {
    font-size: 13px;
}

.reach {
    float: right;
    margin-bottom: 20px;
}

.reach div {
    cursor: pointer;
}

.reach:hover div {
    color: #0fe9bd;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

/*SANKEY*/
.node rect {
    fill-opacity: .9;
    stroke-opacity: 0;
}

.node text {
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #0fe9bd;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .7;
}

/*SPIDER*/
.axis text {
    text-transform: uppercase;
    letter-spacing: 2px;
}

table td, table th  {
    padding-right: 40px;
}

table {
    text-align: left;
    min-width: 500px;
}

/*MATRIX*/
.g-pick rect {
    stroke: transparent;
    cursor: pointer;
}

.g-pick .g-type1 rect {
    fill: #F14C38;
}

.g-number {
    fill: #555;
    font-size: 10px;
}

.g-title {
    fill: #555;
    font-size: 14px;
}

/*TOOLTIP*/

.tooltip {
    opacity: 0;
}

.d3-tip, .tooltip {
    position: absolute;
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    z-index: 999999999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.qatar {
    fill: #9F0251;
    color: #9F0251;
    stroke: #9F0251;
}

.world {
    fill: #0099FF;
    color: #0099FF;
    stroke: #0099FF;
}

.malicious {
    fill: #FF5732;
    color: #FF5732;
    /*stroke: #FF5732;*/
}

.qatar img {
    width: 18px;
}

/*BAR LEGEND*/

.btn_icon {
    float: left;
    width: 50%;
    margin-bottom: 50px;
}

.btn_icon .qatar img {
    width: 20px;
    padding: 10px;
}

.btn_icon span.world {
    color: #fff;
    font-size: 16px;
    padding: 10px;
    line-height: 40px;
}

.btn_icon .box {
    width: 40px;
    height: 40px;
    background-color: #FF5732;
    border: 1px solid #fff;
}

.box.qatar {
    float:right;
}

.box.world {
    float:left;
}

.numbers {
    font-weight: 700;
    color: #FF5732;
}

#qwnum {
    font-size: 30px;
}